<head>
  <title>CT</title>

  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css?family=Lato:400,700,300,100' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="css/main.css">

  <script src="lib/paper-full.min.js"></script>
  <script src="lib/jquery-1.11.3.min.js"></script>
  <script src="lib/d3-3.5.6.min.js"></script>
  <script src="lib/Chart.min.js"></script>
  <script src="lib/Chart.Scatter.min.js"></script>
  <script src="lib/angular.min.js"></script>

  <script type="text/javascript" src="js/settings.js"></script>
  <script type="text/javascript" src="js/view.js"></script>
  <script type="text/javascript" src="js/controller.js"></script>
  <script type="text/javascript" src="js/model.js"></script>

</head>

<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header"> <a class="navbar-brand" href="">Adaptive Clinical Trial</a> </div>
  </div>
</nav>

<div class="row">
  <div class="col-md-7">
    <canvas id="graph" width="700" height="500"></canvas> <br>
    <canvas id="AsAa" width="300" height="200"></canvas>
    <table id="legend"></table>
    <canvas id="distribution" width="150" height="150"></canvas>



  </div>

  <div class="col-md-5" id="right_part">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Control Panel</h3>
      </div>
      <div class="panel-body">

        <div id="control" ng-app="">

          <hr>
          <p>Sponsor's preference of adaptive clinical trials: {{probAdaptive}} </p>
          <input id="probAdaptive" type="range" min =1 max=100 value=50 ng-model="probAdaptive">
          <hr>
          <p>Rate of probability increase due to Biomarkers: {{effectOfBioMaker}}</p>
          <input id="effectOfBioMaker" type="range" min =0 max=4 value=1 step="0.1" ng-model="effectOfBioMaker">
          <hr>
          <p>Number of biomarkers: <span id="valueNumBioMarker">0</span></p>
          <progress id="numBioMarker" max="10" value="0"> </progress>
        </div>
      </div>
    </div>
  </div><!--end of charts--->
</div><!--end of row-->



</body>
<script type="text/javascript">


</script>
